html {
    cursor: url('images/moon.png'), auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background-color: #FFECAF;
}

header,
footer {
    background-color: #982176;
}

.top-header,
.bottom-header {
    margin: 0 15%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0;
    margin-bottom: 50px;
    gap: 40%;
}

.logo {
    font-size: 24px;
    color: #ffffe8;
    width: 100px;
}

.header-links {
    display: flex;
    gap: 32px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.left-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-hero > .images {
    color: #ffffe8;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #ffffe8;
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext,
.header-links,
.footer-subtext {
    font-size: 18px;
    color: #ffffe8;
}

.title-info,
.title-playlist,
.title-characters {
    text-align: center;
    font-size: 32px;
    color: #5C0044;
    font-weight: 800;
}

.title-info,
.title-playlist {
    margin: 50px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.info {
    max-width: 200px;
    color: #5C0044;
}

.info > .images {
    border-radius: 8px;
    width: 100%;
    height: 420px;
    margin-bottom: 32px;
}

.info-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-main-container > .buttons {
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
}

.quote-container {
    background-color: #FFB07F;
    color: #5C0044;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}


.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 300px 100px;
}

.characters-container {
    background-color: #ffb1d6;
}

.title-characters {
    padding: 50px 0;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.cta-subcontainer {
    background-color: #FF52A2;
    width: 65%;
    border-radius: 8px;
    padding: 32px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.cta-subcontainer > .buttons {
    border: 2px solid #fafaf8;
    border-radius: 8px;
    align-self: center;
}

.cta-text {
    font-size: 18px;
    color: #ffffe8;
    width: 500px;
}

.cta-title {
    color: #fffffb;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 8px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.info-subtext {
    font-size: 15px;
    text-align: center;
}

button {
    padding: 8px 32px;
    background-color: #FF52A2;
    color: #ffffe8;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
}

.card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: 10px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    
}

.back1,
.back2,
.back3,
.back4 {
    overflow: hidden;
    z-index: -1;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    background-size: cover;

    /* &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    } */
}

.front1,
.front2,
.front3,
.front4,
.back1,
.back2,
.back3,
.back4 {
    transition: all .5s linear;
}

.front1,
.front2,
.front3,
.front4 {
    background-size: cover;
    z-index: 1;
    box-shadow: 5px 5px 5px #982176;
}

.back1,
.back2,
.back3,
.back4 {
    box-shadow: 0 0 0 #982176;
}

.hovercard:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    .front1,
    .front2,
    .front3,
    .front4 {
        box-shadow: 0 0 0 #FF52A2;
    }

    .back1,
    .back2,
    .back3,
    .back4 {
        box-shadow: 5px 5px 5px #FF52A2;
    }
}

.front1 {
    background-image: url('images/windy.png');
}

.back1 {
    background-image: url('images/windy-sakura.png');
}

.front2 {
    background-image: url('images/fly.png');
}

.back2 {
    background-image: url('images/fly-sakura.png');
}

.front3 {
    background-image: url('images/shadow.png');
}

.back3 {
    background-image: url('images/shadow-sakura.png');
}

.front4 {
    background-image: url('images/watery.png');
}

.back4 {
    background-image: url('images/watery-sakura.png');
}

span {
    color: #982176;
    font-weight: 800;
}


