* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

header {
    background-color: #1F2937;
}

.top-header,
.bottom-header {
    margin: 0 200px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 64px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 16px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.left-hero {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-hero > .images {
    background-color: #3a3f43;
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext,
.header-links,
.footer-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.title-info {
    text-align: center;
    font-size: 32px;
    color: #1F2937;
    font-weight: 800;
    margin: 32px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding-bottom: 64px;
}

.info {
    max-width: 100px;
    color: #3a3f43;
}

.info > .images {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 64px 0;
    color: #1F2937;
}

.quote-text {
    width: 550px;
    margin: 0 auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.quote-author {
    text-align: right;
    width: 500px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    
}

.cta-subcontainer {
    background-color: #3882F6;
    width: 700px;
    border-radius: 8px;
    padding: 32px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.cta-subcontainer > .buttons {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    align-self: center;
}

.cta-text {
    font-size: 18px;
    color: #e0e0e0;
    width: 300px;
}

.cta-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.info-subtext {
    font-size: 15px;
    text-align: center;
}

button {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}